/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f3f4f6; /* Light gray background */
    color: #1f2937; /* Dark gray text */
  }
  
  h2 {
    font-size: 2rem;
    font-weight: bold;
  }
  